html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #37474f;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2,
h3,
p {
  text-align: center;
  color: #37474f;
}

/*
 * Стили компонента App
 */
.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

/*
 * Стили компонента Searchbar
 */
.Searchbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  padding: 0 100px;
  justify-content: flex-end;
  align-items: center;
  min-height: 64px;
  padding: 15px;
  color: #fff;
  background-size: cover;
  background-image: url('https://ichef.bbci.co.uk/news/800/cpsprodpb/9613/production/_105791483_perspective_view_of_ancient_river_valley_network_on_mars.jpg');
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  @media screen and(min-width: 540px) {
    justify-content: center;
  }
}

/*
 * Стили компонента SearchForm
 */
.SearchForm {
  position: relative;
  display: block;
  max-width: 500px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  @media screen and(min-width: 940px) {
    display: flex;
    padding-right: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 650px;
  }
}

.nasa_logo {
  position: absolute;
  left: 35px;
  width: 100px;
  height: 100px;
  z-index: 2;
  @media screen and(min-width: 540px) {
    left: 50px;
  }
}

.SearchForm_block {
  margin: 5px 20px 10px 20px;
}

.SearchForm_title {
  color: #2a2a22;
  margin: 0;
  font-weight: 500;
  text-align: start;
  font-size: 16px;
}

.SearchForm-input {
  display: inline-block;
  margin-top: 5px;
  width: 150px;
  font: inherit;
  font-size: 16px;
  border: solid 1px #2a2a22;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
}

.SearchForm-input::placeholder {
  font: inherit;
  font-size: 18px;
}

.SearchForm-button {
  display: inline-block;
  width: 100%;
  height: 30px;
  background-size: 16%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-image: url('https://image.flaticon.com/icons/svg/149/149852.svg');
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(min-width: 940px) {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 70px;
    height: 70px;
    background-size: 35%;
    outline: none;
  }
}

.SearchForm-button:hover {
  opacity: 0.9;
}

.SearchForm-button-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

/*
 * Стили компонента ImageGallery
 */
.ImageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Стили компонента ImageGalleryItem
 */
.ImageGalleryItem {
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.ImageGalleryItem-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ImageGalleryItem-image:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

/*
 * Стили компонента Modal
 */

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

/*
* Стили компонента Buton (Load more)
*/
.Button {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #3f51b5;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.Button:hover,
.Button:focus {
  background-color: #303f9f;
}

.btnDiv {
  margin: 20px;
  text-align: center;
}

.loaderDiv {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}
